.uiBlock {
    border: 1px solid green;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
    display: flex;
}

.uiBlock input {
    border: none;
    border-radius: 4px;
}
.uiBlock button {
    background-color: limegreen;
    color: ghostwhite;
    border-radius: 4px;
}
.uiBlock button.inspectOrderButton {
    background-color: green;
}
.uiBlock button#invoiceRenderButtonId {
    background-color: sandybrown;
}
.uiBlock button:hover {
   opacity: 0.6;
}